html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: Montserrat;
    color: aliceblue;
    background-color: #151410
}

#intro-message a{
    text-decoration: none;
    color: #B26E2B;
    transition: all 0.2s ease-in-out;
}
#intro-message a:hover{
color:  #b19a18;
text-shadow: 
0 0 6px #641F01,
0 0 20px #AE6B2E,
0 0 40px #F2A72F,
0 0 60px #F2A72F,
0 0 80px #f2e52f
}

#background{
    background-image: url("./images/background.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#background2{
    background-image: url("./images/background2.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 80%;
}

#background3{
    background-image: url("./images/background5.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 350%;
}

#title{
    color: #F2A72F;
}

#intro{
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

#navbar{

    display: grid;
    grid-template-columns: 2fr  0.2fr 0.2fr;
    max-width: 1900px;
}

.nav-item{
    font-size: 1.5rem;
    min-width: 150px;
}

#intro-message{
    margin-top: 200px;
    margin-left: 100px;
}

#burger-tips{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 0;
    padding-top: 100px;
    font-size: 1.3rem;
    max-width: 1000px;
}

#quote{
    font-style: italic;
    color: beige;
    font-size: 1.2rem;
}

#recipe-scroll-button{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    margin-left: 100px;
}

#recipes-menu-title{
    text-align: center;
    font-size: 2rem;
    color: #F2A72F;
    margin-top: 50px;
}

#recipes-menu{
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
    margin: auto;
    margin-bottom: 100px;
    padding: 50px 0 50px 0;
}

#recipes-menu a{
    max-width: 300px;
    text-align: center;
}

#burger-tips{
    margin-bottom: 200px;
}

#recipes{
    color: beige;
}

.recipe{
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 1fr;
    grid-template-rows: 0.1fr 0.3fr .3fr;
    font-size: 1.2rem;
    margin-left: 100px;
    margin-top: 100px;
    max-width: 1800px;
    grid-gap: 0;
}

.recipe-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: #F2A72F;
    margin-bottom: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.recipe-desc{
    border-image: linear-gradient(to right bottom, rgba(242,167,47,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(242,167,47,1) 100%) 1;
    border-image-width: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 350px;

}

.recipe img{
    max-width: 420px;
    margin: 0;
}

.ingredients{
    margin-left: 50px;
}

.ingredients-title{
    color: #f2e52f;
    font-size: 2rem;
    font-weight: 800;
}

.directions
{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
    max-width: 1600px;
}

.directions ul{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 0;
    margin: 0;
    list-style: none;
}

.directions-ul-number{
    color: #f2e52f; 
    display: inline; 
    font-weight: 800;
    font-size: 1.5rem;
}

.directions-title{
    color: #f2e52f;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 30px;
}

.directions ul li{
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 500px;
}

#cheddar{
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color:#F2A72F;
    font-weight: 800;
}

#cheddar-img{
    display: block;
    width: 100%;
    height: auto;

}

#cheddar-desc{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.2s ease;
    text-align: center;
    align-items: center;
}

#cheddar:hover #cheddar-desc{
    height: 100%;
}

/* ------- */

#mexican{
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color:#F2A72F;
    font-weight: 800;
}

#mexican-img{
    display: block;
    width: 100%;
    height: auto;

}

#mexican-desc{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.2s ease;
    text-align: center;
    align-items: center;
}

#mexican:hover #mexican-desc{
    height: 100%;
}

/* ------ */

#fws{
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color:#F2A72F;
    font-weight: 800;
}

#fws-img{
    display: block;
    width: 100%;
    height: auto;

}

#fws-desc{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.2s ease;
    text-align: center;
    align-items: center;
}

#fws:hover #fws-desc{
    height: 100%;
}


.footer{

    margin-top: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #F2A72F;
}

