html{
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    color: aliceblue;
    background-color: black;
}

a{
    text-decoration: none;
    color: #B26E2B;
    transition: all 0.2s ease-in-out;
}
a:hover{
color:  #b19a18;
text-shadow: 
0 0 6px #641F01,
0 0 20px #AE6B2E,
0 0 40px #F2A72F,
0 0 60px #F2A72F,
0 0 80px #f2e52f
}

#background{
    background-image: url("./images/background.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#title{
    color: #F2A72F;
}

#intro{
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

#navbar{

    display: grid;
    grid-template-columns: 2fr  0.2fr 0.2fr;
}

.nav-item{
    font-size: 1.5rem;
}

#intro-message{
    margin-top: 200px;
    margin-left: 100px;
}

#recipe-scroll-button{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    margin-left: 100px;
}

.recipe{
    font-size: 1.4rem;
    margin-left: 100px;
    margin-top: 100px;
    max-width: 1200px;
}

.recipe-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: #F2A72F;
    margin-bottom: 50px;
}

.recipe img{
    max-width: 300px;
    float: left;
    margin-right: 50px;
}

.ingredients-title{
    color: #f2e52f;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 150px;
}

.directions-title{
    color: #f2e52f;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 30px;
}

ol li{
    margin-top: 10px;
    margin-bottom: 20px;
}